#bot {
    position:absolute;
    text-align:left;
}

#bot table {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
    border-collapse: collapse;
    width:max-content;
}

#bot th{
    font-weight:normal;
    width:max-content;
}

#bot td, #bot th{
    border-collapse:collapse;
    border: 1px solid black;
    
}
#bot div {
    line-height:45px;
    height:45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tEdit {
    width:max-content;
    overflow: auto;
}
#sEdit {
    text-align:center;
}

#plEdit {
    text-align:center;
}

#pnEdit {
    text-align:center;
}

#nEdit {
    width:max-content;
    overflow:visible;

}

#bot img{
    height: 25px;
    width: 25px;

}

#swColor{/*switch cell coloring*/
    background-color: #e61926;
}

#psColor{/*PS4 cell coloring*/
    background-color: #006FCD;
}

#pcColor{/*PC cell coloring*/
    background-color: #ffa0ed;
}

#yStat{/*Yes Status cell coloring*/
    background-color: #34a853;
}

#nStat{/*No Status cell coloring*/
    background-color: #ea4335;
}

#cStat {/*Complete Status cell coloring*/
    background-color: #fbbc04;
}

#bStat{/*Not Bought Status cell coloring*/
    background-color:black;
    color:white;
}

#casPL{/*Casual | Casual/Max% | Casual/100% cell coloring*/
    background-color:#32fa4b;
}

#maxPL{/*Max% | Max%/100% cell coloring*/
    background-color:#ff8700;
}

#hunPL{/*100% cell coloring*/
    background-color:#96f0ff;
}